*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background:#081b29;
    color: #ededed;
}
.header{
      position: fixed;
      top: 0;
      width:100%;
      left: 0;
      padding: 20px 10%;
      background:transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 20px;
    color: #ededed;
    text-decoration: 500;
    margin-left: 35px;
    transition: .10s;
}
.navbar a:hover , 
.navbar a.active{
    color: aqua;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10% ;
}
.home-content{
    max-width: 600px;
}
.home-content h1 {
    font-size: 50px;
    font-weight: 600;
    line-height:1.5em ;
}
.home-content h3 {
    font-size: 30px;
    font-weight: 400;
    color: brown;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 30px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 300px; 
    height: 40px;
  
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background: #00abf0;
    border:2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1 ;
    overflow: hidden;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #0a2335;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1 ;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 20px ;
}
